<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>XXX_TITLE_XXXX</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/heroic-features.css" rel="stylesheet">

  </head>

  <body>



    <!-- Page Content -->
    <div class="container">

      <!-- Jumbotron Header -->
      <header class="jumbotron my-4">
        <h1 class="display-3">:XXX_TITLE_XXXX</h1>
        <p class="lead">read-only dashboards</p>
        <a href="/state.json" target="_blank" class="btn btn-primary btn-lg">mesos</a>
        <a href="/spark" target="_blank"  class="btn btn-primary btn-lg">spark</a>
        <a href="/alluxio/" target="_blank" class="btn btn-primary btn-lg">alluxio</a>
        <p class="lead"</p>
        <p class="lead">secured dashboards</p>
        <a href="/zeppelin/" target="_blank" class="btn btn-primary btn-lg">zeppelin</a>
      </header>



    </div>
    <!-- /.container -->



    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  </body>

</html>

