[Unit]
Description=Apache Zookeeper server 
Documentation=http://zookeeper.apache.org
Requires=network.target remote-fs.target 
After=network.target remote-fs.target

[Service]
Type=forking
User=zookeeper
Group=zookeeper
ExecStart={{zookeeper_dir}}/bin/zkServer.sh start
ExecStop={{zookeeper_dir}}/bin/zkServer.sh stop
ExecReload={{zookeeper_dir}}/bin/zkServer.sh restart
WorkingDirectory=/var/lib/zookeeper

[Install]
WantedBy=multi-user.target