{
    "subnet": {
        "name": "{{ subnet_name }}",
        "cidr": "{{ subnet_net }}",
        "gateway_ip": "{{ subnet_gateway }}",
        "primary_dns": "{{ subnet_primary_dns }}",
        "secondary_dns": "{{ subnet_secondary_dns }}",
        "availability_zone": "{{ availability_zone }}",
        "vpc_id": "{{ vpc_id }}"
    }
}
